table {
  width: 90%;
  background-color: #f0f0f0;
  margin: auto;
}

th, td {
  text-align: center;
  padding: 12px;
}

tbody tr:nth-child(odd) {
  background-color: #cab7d4;
}

tbody tr:nth-child(even) {
  background-color: #fbb7c2;
}

tbody tr {
  background-image: url(noise.png);
}

